body {
    background-color: aliceblue;
    font-family: monospace;
    color: #262626;
}

.x-section {
    margin: 1em;
}

.x-box {
    margin: 1em 0;
    padding: 1px 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.x-table {
    margin: 1em 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: table;
    width: 100%;
}

.x-table .row {
    display: table-row;
}

.x-table .cell {
    display: table-cell;
    padding: .5em 1em;
    border: dashed #d6d6d6;
    border-width: 0 0 1px 0;
}

.x-table .row:last-child .cell {
    border-width: 0;
}

.x-table .header {
    position: sticky;
    top: 0;
}

.x-table .header .cell {
    background-color: #fafafa;
    border-width: 0;
}

x-header>div {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 1px 1em;
    display: flex;
    align-items: center;
}

x-header a {
    color: inherit;
    text-decoration-thickness: 2px;
    text-decoration-color: gray;
}

x-header div.breadcrumb {
    padding: 0 0 0 1.5em;
    border-left: 2px solid #e6e6e6;
    margin: 0 0 0 1.5em;
    font-size: 1.2em;
}

x-job .x-table .row.header .cell[data-column="0"] {
    width: 0;
}

x-job-execution div.status-line {
    padding: .2em .5em .2em 1em;
    color: white;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

x-job-execution div.status-line.is-success {
    background-color: #199f59;
}

x-job-execution div.status-line.is-failure {
    background-color: #d0314d;
}

x-job-execution div.status-line.is-running {
    background-color: #3867d6;
}

x-job-execution pre {
    margin: 1em;
}
