:root {
    --background-color: aliceblue;
    --text-color: #262626;

    --box-background-color: white;
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    --table-cell-border-color: #d6d6d6;
    --table-header-background-color: #fafafa;

    --kv-key-text-color: #757575;

    --status-success-color: #199f59;
    --status-failure-color: #d0314d;
    --status-running-color: #3867d6;
    --status-cancelled-color: #444;

    --status-line-vertical-padding: .2em;
    --status-line-line-height: 1.3em;
    --status-line-height: calc(var(--status-line-vertical-padding)*2 + var(--status-line-line-height))
}

body {
    background-color: var(--background-color);
    font-family: monospace;
    color: var(--text-color);
}

.x-section {
    margin: 1em;
}

.x-box {
    margin: 1em 0;
    padding: 1px 1em;
    background-color: var(--box-background-color);
    box-shadow: var(--box-shadow);
}

.x-table {
    margin: 1em 0;
    background-color: var(--box-background-color);
    box-shadow: var(--box-shadow);
    display: table;
    width: 100%;
}

.x-table .row {
    display: table-row;
}

.x-table .cell {
    display: table-cell;
    padding: .5em 1em;
    border: dashed var(--table-cell-border-color);
    border-width: 0 0 1px 0;
    white-space: nowrap;
    width: 1px;
}

.x-table .cell:last-child {
    width: auto;
}

.x-table .row:last-child .cell {
    border-width: 0;
}

.x-table .header {
    position: sticky;
    top: 0;
}

.x-table .header .cell {
    background-color: var(--table-header-background-color);
    border-width: 0;
}

.x-kv-key {
    color: var(--kv-key-text-color);
}

.x-kv-key::after {
    content: ': ';
    color: var(--kv-key-text-color);
}

.x-kv-sep {
    margin: 0 1em;
}

x-header>div {
    background-color: var(--box-background-color);
    box-shadow: var(--box-shadow);
    padding: 1px 1em;
    display: flex;
    align-items: center;
}

x-header a {
    color: inherit;
    text-decoration-thickness: 2px;
    text-decoration-color: gray;
}

x-header div.breadcrumb {
    padding: 0 0 0 1.5em;
    border-left: 2px solid #e6e6e6;
    margin: 0 0 0 1.5em;
    font-size: 1.2em;
}

x-job .x-table .cell[data-column="1"] {
    padding-right: 0;
}

x-job .x-table .cell[data-column="2"] {
    padding-left: .5em;
}

x-job .status-circle {
    display: inline-block;
    vertical-align: middle;
    width: .9em;
    height: .9em;
    border-radius: 50%;
    background-color: gray;
}

x-job .status-circle.is-success {
    background-color: var(--status-success-color);
}

x-job .status-circle.is-failure {
    background-color: var(--status-failure-color);
}

x-job .status-circle.is-running {
    background-color: var(--status-running-color);
}

x-job .status-circle.is-cancelled {
    background-color: var(--status-cancelled-color);
}

x-job-execution div.status-line {
    line-height: var(--status-line-line-height);
    padding: var(--status-line-vertical-padding) .5em var(--status-line-vertical-padding) 1em;
    color: white;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    position: sticky;
    top: 0;
}

x-job-execution div.status-line.is-success {
    background-color: var(--status-success-color);
}

x-job-execution div.status-line.is-failure {
    background-color: var(--status-failure-color);
}

x-job-execution div.status-line.is-running {
    background-color: var(--status-running-color);
}

x-job-execution div.status-line.is-cancelled {
    background-color: var(--status-cancelled-color);
}

x-job-execution .top-bar.x-box {
    position: sticky;
    top: var(--status-line-height);
}

x-job-execution .follow-logs-box.is-sticky {
    position: sticky;
    bottom: 0;
}


x-job-execution-logs pre {
    margin: 1em;
}
