html,
body {
  font-family: monospace
}

#app>header,
#app>main,
#app>footer {
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
}

#app>main {
  background-color: whitesmoke;
  padding: 1px 1em;
}

#app>footer {
  text-align: right;
}
